<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>凯哥手势解锁.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3CEB0B0C1BD60E2000FC08E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3CEB0B251BD60E2000FC08E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3CEB0B301BD60E2100FC08E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
